/* ---- NAVEGADOR ----*/

/* -----Párrafos, títulos, secciones, encabezados y pie de página ------*/

/*Especificidad: 001*/
body {
  font-family: arial, sans-serif;
  color: #000000;
  background-color: #fff;
  margin: 0;
}

/*Especificidad: 001*/
h1 {
  color: #fff;
  background-color: #250633;
  text-transform: uppercase;
  padding: 0.3em;
  text-align: center;
}

/*Especificidad: 001*/
main {
  padding: 0.2em 5em;
}
/* ----- IMÁGENES Y VIDEO ------*/

/*Especificidad: 001*/
img {
  min-width: 20em;
  width: 30%; /*Problema que se muestre más grande que el tamaño real, se pixelará*/
  height: auto;
  display: flex; /*Centrado de imagen - contenedor flexible*/
  margin: auto; /*Centrado de imagen*/
}

/*Especificidad: 001*/
video {
  max-width: 60%;
  height: auto;
  display: flex; /*Centrado de video - contenedor flexible*/
  margin: auto; /*Centrado de video*/
}

/*Especificidad: 001*/
figcaption,
caption {
  font-weight: bold;
  font-style: italic;
  text-align: center;
}
